html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: gainsboro;
    box-sizing: inherit;
}

#app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    padding: 0;
    text-align: center;
    color: darkslategray;
    font-family: sans-serif;
}
