.textInputContainer {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.textInputContainer .textLabel {
    margin-left: 10px;
    margin-bottom: 3px;
}

.textInputContainer .textInput {
    padding: 5px;

    border: 5px double black;
    font-family: inherit;
    outline: none;
}